@import url(/variables.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca&display=swap');

* {
  box-sizing: boder-box;
  padding: 0;
  margin: 0;
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
}

.flex {
  display: flex;
}

.padding1 {
  padding: 1rem;
}

.margin {
  margin: 0.5rem;
}

.flex1 {
  flex: 1;
}

.items-column {
  flex-direction: column;
}

.items-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.margin-top {
  margin-top: 1.5rem;
}

header {
  background: var(--linear);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  flex: 10;
  background: transparent;
  color: var(--white);
  border: none;
  font-size: 18px;
  outline: none;
  padding-right: 1rem;
}

input::placeholder {
  font-size: 1rem;
  opacity: 0.5;
  color: white;
}

.containerNav {
  margin-bottom: 3rem;
}

.container.main {
  margin-top: 3rem;
}

.searchSvg {
  padding: 0.5rem;
}

main {
  background-color: #f1f1f1;
}

article {
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

span {
  padding-bottom: 1rem;
}

p {
  color: var(--text);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--title);
}

.container-search {
  display: flex;
  align-items: center;
  background-color: hsl(100, 100%, 100%, 0.2);
  height: 4rem;
  border-radius: 5px;
}

footer {
  background-color: #f1f1f1;
  height: 2rem;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg:hover path {
  fill: red;
}

svg.active {
  fill: red;
}
